* {
  padding: 0;
  margin: 0;
  font-family: "Work Sans", sans-serif;
}

/* common styles start */
.container {
  max-width: 1440px;
  margin: 0 auto;
}

.primary_text a {
  color: #3c354f;
  font-size: 18px;
  font-weight: 500;
  margin-left: 30px;
}

.secondary_text {
  color: #534c64;
  font-size: 20px;
  font-weight: 500;
}

.primary_btn {
  all: unset;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 21px 40px;
  border-radius: 48px;
  cursor: pointer;
  background: linear-gradient(90deg, #ff42a5 13.13%, #ff42a5 87.94%);
}
.primary_description {
  color: #534c64;
  text-align: right;
  font-size: 18px;
  line-height: 30px;
}
/* header section styles start */

/* nav styles */
.nav_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 45px 0;
}

.nav_container .logo {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.social {
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  padding: 16px 28px;
  display: flex;
  gap: 30px;
  align-items: center;
  margin-left: 30px;
}

.social .follow_us {
  text-decoration: none;
  color: #3c354f;
  font-size: 18px;
  font-weight: 500;
}

.social a {
  font-size: 28px;
  font-weight: 500;
}

.fa-youtube {
  color: red;
}

.logo_name {
  font-size: 45px;
  font-weight: 700;
  color: #0b0223;
}

.logo_g_latter {
  background: linear-gradient(90deg, #ff42a5 13.13%, #ff42a5 87.94%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.social_link ul {
  display: flex;
  align-items: center;
}

.social_link ul li {
  list-style-type: none;
}

.social_link ul li a {
  text-decoration: none;
}

/* banner section styles start */
.banner_section {
  background-image: url(/images/Group\ 14.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.banner_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner_title {
  color: #0b0223;
  font-size: 48px;
  font-weight: 600;
  text-transform: uppercase;
}

.banner_big_text {
  font-size: 95px;
  font-weight: 800;
  text-transform: uppercase;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.banner_contents ul li {
  list-style: none;
}
.banner_contents ul li i {
  margin-right: 16px;
  margin-bottom: 16px;
}

.banner_btn {
  margin-top: 40px;
}
.btn_modified {
  background: #4ec5f7;
  margin-left: 40px;
}

/* we are gamer section style start */

.we_gamer {
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 13.13%,
    rgba(255, 66, 165, 0.03) 87.94%
  );
}
.gamer_container {
  display: flex;
  align-items: center;
  gap: 20px;
}
.gamer_contents {
  text-align: right;
}
.gamer_title {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 20px;
}
.gamer_btn {
  margin: 20px 0;
}
.purpose h6 {
  color: #534c64;
  font-size: 24px;
  font-weight: 500;
  line-height: 45px;
}
.purpose h2 {
  color: #534c64;
  font-size: 32px;
  font-weight: 700;
}

/* online gamer and funny video section styles start */
.online_gamer_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.online_gaming {
  padding: 120px 0;
}
.online_title_contents {
  display: grid;
  justify-content: center;
  margin-bottom: 40px;
}
.online_title_contents p {
  text-align: center;
}
.online_title_update {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.online_item_img {
  position: relative;
  height: 400px;
  width: 100%;
  border-radius: 16px;
  overflow: hidden;
  margin-bottom: 20px;
  transition: 0.3s linear;
}
.online_item_img .online_icon {
  position: absolute;
  text-align: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  z-index: 2;
  transition: 0.3s linear;
}
.online_item_img .online_icon i {
  font-size: 50px;
  color: white;
}
.online_item_img .online_watch {
  color: #ff42a5;
  font-size: 20px;
  font-weight: 600;
  margin-top: 10px;
}

.online_item_inner {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: #00000098;
  z-index: 1;
  border-radius: 16px;
  opacity: 0;
  transition: 0.3s linear;
}
/* hover section  */
.online_item_img:hover .online_item_inner {
  display: block;
  opacity: 80%;
}
.online_item_img:hover .online_icon {
  opacity: 100%;
}
.online_item_text {
  color: #534c64;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}

/* instantly section styles start */
.instantly_play {
  display: flex;
  align-items: center;
  margin-bottom: 200px;
}
.instantly_contents {
  text-align: right;
  padding: 0 200px;
}
.instantly_contents h1 {
  margin-bottom: 20px;
}
.text_gradient {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.instantly_image {
  position: relative;
}
.instantly_small_img {
  position: absolute;
  left: -18%;
  bottom: -12%;
}

/* play games online section styles start */
.play_games_online {
  flex-direction: row-reverse;
}
.play_games_contents,
.play_games_contents p {
  text-align: left;
}
.play_games_small_img {
  left: 82%;
}

/* careers section style start */
.careers_container {
  background: #f948b2;
}

.careers_inner {
  display: flex;
  align-items: center;
  padding: 120px 0;
  gap: 20px;
}
.careers_image img{
  width: 100%;
}
.careers_contents, .careers_image{width: 50%;}

.careers_contents h1,
p {
  color: white !important;
  text-align: left !important;
  margin-bottom: 20px;
}
.careers_single_item_container {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  margin-bottom: 20px;
}
.careers_single_item_container ul li {
  list-style: none;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  line-height: 40px;
}
.careers_btn_modified{
  color: #f948b2;
  background: white;
}
